@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Cairo;
  src: url("../../public/Cairo/Cairo-VariableFont_slnt\,wght.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../../public/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@layer base {
  * {
    font-family: Cairo, Inter, sans-serif !important;
  }

  blockquote,
  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
    vertical-align: middle;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
  }

  *,
  ::before,
  ::after {
    border-width: 0;
    border-style: solid;
    border-color: theme("borderColor.DEFAULT", currentColor);
  }
}
